@import url('https://fonts.googleapis.com/css?family=Cantarell|Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {

}

.mainHeader {
    position: fixed;
    top: 0;
    min-width: 100%;
    background-color: #1C3F60;
    height: 40px;
}

.mainHeader h2 {
    color: #AFC1D0;
    position: relative;
    top: -12px;
}

#mainNav {
    position: absolute;
    width: 100%;
    top: 40px;
    padding-bottom: 10px;
}
#mainNav ul {
    background-color: #1C3F60;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menuToggle {
    position: relative;
    z-index: 1000;
}

#mainNav a{
    color: whitesmoke;
    text-decoration: none;
    font-family: Cantarell, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

#mainNav a:hover{
    color: #AFC1D0;
}

.mainFooter {
    text-align: center;
    height: 40px;
    font-size: .5em;
    position: fixed;
    min-width: 100%;
    bottom:0;
    background-color: #1C3F60 ;
}

.mainFooter p {
    color: #AFC1D0;
}

img {
    max-width:100%;
}




.social-menu ul{
    position: absolute;
    top: 50%;
    bottom : 63%;
    left : 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 .5em;
}

.social-menu ul li .fab{
    font-size: 15px;
    line-height: 30px;
    transition: .3s;
    color: #000;

}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);

}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: royalblue;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}

